@page "/TaskTest"

@using DataAccessLibrary
@using DataAccessLibrary.Models

@inject ITasksData _db

<h3>Task Test</h3>

<h4>Current Tasks</h4>

@if (tasks is null)
{
    <p><em>Loading...</em></p>
}
else
            {
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Description</th>
                <th>Priority</th>
                <th>DueDate</th>
                <th>DateCompleted</th>
                <th>CompletionFlag</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var t in tasks)
                {
                <tr>
                    <td>@t.Description</td>
                    <td>@t.Priority</td>
                    <td>@t.DueDate</td>
                    <td>@t.DateCompleted</td>
                    <td>@t.CompletionFlag</td>
                </tr>
                }
        </tbody>
    </table>
            }

@code {
    private List<TaskModel> tasks;

    protected override async Task OnInitializedAsync()
    {
        tasks = await _db.GetTasksTest();
    }
}
