@page "/TaskTestTwo"

@using DataAccessLibrary
@using DataAccessLibrary.Models

@inject ISqlDataAccess _db

<h3>TaskTestTwo</h3>

@foreach (var t in tasks)
{
    <p>The description is: @t.Description</p>
    <p>The priority is: @t.Priority</p>
    <p>The Due Date is: @t.DueDate</p>
    <p>The subtasks are:</p>
    <li>
        @if (t.Subtasks.Count == 0)
        {
            <ul>There are no subtasks</ul>
        }
        else
        {
            foreach (var s in t.Subtasks)
            {
                <ul>@s.Description with compflag @s.CompletionFlag</ul>
            }
        }
    </li>
    <p>The tags are:</p>
    <li>
        @if (t.Tags.Count == 0)
        {
            <ul>There are no tags</ul>
        }
        else
        {
            foreach (var tag in t.Tags)
            {
                <ul>@tag.Name</ul>
            }
        }
    </li>
}

@code {
    private List<TaskModel> tasks;

    protected override void OnInitialized()
    {
        tasks = _db.Tasks_GetAll();
    }
}
