@page "/TaskTestFour"

@using DataAccessLibrary
@using DataAccessLibrary.Models

@inject ISqlDataAccess _db

<h3>TaskTestFour: Modal Add</h3>

<button @onclick="AddModal" class="btn btn-primary">Add Task</button>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Description</th>
            <th>Priority</th>
            <th>Due Date</th>
            <th>Subtasks</th>
            <th>Tags</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var t in tasks)
            {
            <tr>
                <td>@t.Description</td>
                <td>@t.Priority</td>
                <td>@t.DueDate.ToString("yyyy/MM/dd")</td>
                <td>
                    @if (t.Subtasks is null || t.Subtasks.Count == 0)
                    {
                        <ul>There are no subtasks</ul>
                    }
                    else
                    {
                        foreach (var s in t.Subtasks)
                        {
                            <ul>@s.Description</ul>
                        }
                    }
                </td>
                <td>
                    @if (t.Tags is null || t.Tags.Count == 0)
                    {
                        <ul>There are no tags</ul>
                    }
                    else
                    {
                        foreach (var tag in t.Tags)
                        {
                            <ul>@tag.Name</ul>
                        }
                    }
                </td>
                <td>
                    <div class="btn-group">
                        <button class="btn-danger" @onclick="e=> OnDelete(t.Id)">Delete</button>
                        <button class="btn-secondary" @onclick="e=> ShowEditTask(t.Id, tasks)">Edit</button>
                    </div>

                </td>
            </tr>
            }
    </tbody>
</table>


@code {
    [CascadingParameter] public IModalService Modal { get; set; }


    async Task AddModal()
    {
        var formModal = Modal.Show<AddTask>("Add Model");
        var result = await formModal.Result;
        if (!result.Cancelled && result is not null)
        {
            tasks.Add((TaskModel)result.Data);
        }
    }

    private void OnDelete(int Id)
    {
        _db.DeleteTask(Id);
        tasks.RemoveAll(x => x.Id == Id);
    }

    async Task ShowEditTask(int Id, List<TaskModel> tasks)
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(EditTask.TaskId), Id);
        parameters.Add(nameof(EditTask.TasksList), tasks);

        var formModal = Modal.Show<EditTask>("Edit Task", parameters);
        var result = await formModal.Result;
        if (!result.Cancelled && result is not null)
        {
            TaskModel edited = (TaskModel)result.Data;
            tasks[tasks.FindIndex(x => x.Id == edited.Id)] = edited;
        }
    }

    private List<TaskModel> tasks;

    protected override void OnInitialized()
    {
        tasks = _db.Tasks_GetAll();
    }
}
